<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071953605151-fi4dmqjocrq4g3jj2brngkcs6n9fl4r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071953605151-fi4dmqjocrq4g3jj2brngkcs6n9fl4r8</string>
	<key>API_KEY</key>
	<string>AIzaSyClPGvThUkalfhxaND5MGot5cnDcqV9v2g</string>
	<key>GCM_SENDER_ID</key>
	<string>1071953605151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kpe.news-ios</string>
	<key>PROJECT_ID</key>
	<string>news-ios-cf9cc</string>
	<key>STORAGE_BUCKET</key>
	<string>news-ios-cf9cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071953605151:ios:b5796b9f52f80cdbe61b2a</string>
</dict>
</plist>